@model dynamic

<div class="jumbotron">
    <h1>Test1 - 100 calls to dynamic object</h1>
    <a class="btn btn-primary" href="@Url.Action("Index")">Back</a>
</div>

<div class="row">
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
    <div>@Model.our_resource</div>
</div>